{% extends 'layouts/app.html.twig' %}

{% block title %}{% endblock %}
{% block nav %}
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="container-fluid">
            {% set img = "asset('assets/img/user.picture')" %}
			<div id="navTop">

			{% if app.user.picture is not null %}
				<img src="{{asset('assets/img/' ~ app.user.picture )}}" alt="">
			{% else %}
				<img src="{{asset('assets/img/default.png')}}" alt="">
			{% endif %}
				<a class="navbar-brand" href="{{ path('user-profile') }}">{{app.user.firstName}} {{app.user.lastName}}</a>
			</div>
			
			<div class="" id="navbarColor01">
				<ul class="navbar-nav me-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ path('dashboard-index') }}">Dashboard
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('planning-index') }}">Calendrier</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('contact-index') }}">Contacts</a>
					</li>
					{% if is_granted('ROLE_ADMIN') %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('admin-index') }}">Admin</a>
						</li>
					{% endif %}
				</ul>
			</div>
			<div id="sidePlanningContainer">
				{% if app.user.planning.events|length > 0 %}
					<p class='navbar-brand'>Planning</p>
					{% set event = app.user.planning.events|first %}
					<div style="border-color:{{ event.eventtype.color }}"><p>{{ event.eventtype.label }}</p><p>{{ event.datestart|date("H:i") }}</p><p>{{ event.dateend|date("H:i") }}</p></div>
				{% endif %}
			</div>
			
			<a class="btn btn-light" id="loggoutLink" href="{{ path('app_logout') }}">Déconnexion</a>
		</div>
	</nav>
{% endblock %}
{% block content %}
	{{parent()}}
{% endblock %}

{% block style %}
	{{parent()}}

{% endblock %}

{% block script_body %}
	{{parent()}}
{% endblock %}
