{% extends 'layouts/app.html.twig' %}

{% block title %}Login
{% endblock %}
{% block nav %}{% endblock %}
{% block content %}
	{% set values = ['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', 'a', 'b', 'c', 'd', 'e', 'f']%}
	<div id="login">
		<h1>
			<span style='color:#{{random(values)~ random(values)~ random(values)~ random(values)~ random(values)~ random(values)  }}'>C</span><span style='color:#{{random(values)~ random(values)~ random(values)~ random(values)~ random(values)~ random(values)  }}'>o</span><span style='color:#{{random(values)~ random(values)~ random(values)~ random(values)~ random(values)~ random(values)  }}'>l</span><span style='color:#{{random(values)~ random(values)~ random(values)~ random(values)~ random(values)~ random(values)  }}'>o</span><span style='color:#{{random(values)~ random(values)~ random(values)~ random(values)~ random(values)~ random(values)  }}'>r</span><span style='color:#{{random(values)~ random(values)~ random(values)~ random(values)~ random(values)~ random(values)  }}'>f</span><span style='color:#{{random(values)~ random(values)~ random(values)~ random(values)~ random(values)~ random(values)  }}'>u</span><span style='color:#{{random(values)~ random(values)~ random(values)~ random(values)~ random(values)~ random(values)  }}'>l</span><span style='color:#{{random(values)~ random(values)~ random(values)~ random(values)~ random(values)~ random(values)  }}'>l</span>
			<span style='color:#{{random(values)~ random(values)~ random(values)~ random(values)~ random(values)~ random(values)  }}'>C</span><span style='color:#{{random(values)~ random(values)~ random(values)~ random(values)~ random(values)~ random(values)  }}'>R</span><span style='color:#{{random(values)~ random(values)~ random(values)~ random(values)~ random(values)~ random(values)  }}'>M</span>
		</h1>
		<h2 class="mt-4">Veuillez vous connecter</h2>
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<form id='login-form' action="{{path('login')}}" method="post">
			<div class='form-floating mt-2'>
				<input type="text"  class="form-control" name="email" id="email" value="{{ last_username }}" placeholder="demo@demo.fr">
				<label for="email" class="form-label">Mail (demo@demo.fr)</label>
			</div>
			<div class='form-floating mt-2'>
				<input type="password" name="password" id="password" class="form-control"placeholder="demo">
				<label for="password" class="form-label">Mot de passe (demo)</label>
			</div>
			<button type="submit" class="btn btn-primary g-recaptcha mt-4" data-sitekey="6Lcxfq4eAAAAABRIbwrsHQ4dvXjZAxr5n40WKoaQ" data-callback='onSubmit' data-action='submit'>Se connecter</button>
			<input type="hidden" name="_token" value="{{ csrf_token('login_form') }}">
		</form>
		<a href="" class="link-primary">Mot de passe oublié? Cliquez ici</a>
	</div>

{% endblock %}


{% block style %}
	{{parent()}}
	<link href="{{asset('assets/css/login.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block script_body %}
	{{parent()}}
	<script>
		function onSubmit(token) {
            document.getElementById("login-form").submit();
        }
	</script>
	<script src="https://www.google.com/recaptcha/api.js"></script>
{% endblock %}
