{% extends 'layouts/loggedIn.html.twig' %}

{% block title %}Calendrier
{% endblock %}
{% block nav %}
	{{parent()}}
{% endblock %}
{% block content %}
	<div id="mainContactBlock">
		<h1>Liste des contacts</h1>
		<div id="tabSearch">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" data-bs-toggle="tab" href="#contacts" id="contactTab">Contacts</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#collabo">Collaborateurs</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" data-bs-toggle="tab" href="#addNewContact">Ajouter un contact</a>
				</li>
			</ul>
			<form class="input-group fade show" id="searchInput" action="{{path('contact-index')}}">
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="checkNames">
					<label class="form-check-label" for="checkNames">
						Nom
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="checkPhones">
					<label class="form-check-label" for="checkPhones">
						Téléphone
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="checkEmails">
					<label class="form-check-label" for="checkEmails">
						Email
					</label>
				</div>
				<div class="form-check">
					<input class="form-check-input" type="checkbox" value="" id="checkCompany">
					<label class="form-check-label" for="checkCompany">
						Status
					</label>
				</div>
				<div class="form-check form-switch">
					<input class="form-check-input" type="checkbox" id="checkisCompany">
					<label class="form-check-label" for="isCompany" id="isCompanyLabel">Société?</label>
				</div>
				<div>
					<input name='search' type="search" id="search" class="form-control" placeholder="Rechercher"/>
				</div>
				<button class="btn btn-primary">
					<i class="fas fa-search"></i>
				</button>
			</form>
		</div>
		<div id="contactTab" class="tab-content">
			<div class="table-responsive tab-pane fade active show" id="contacts">
				<div class="tableHeader">
					{% for contactType in contactTypes %}
						<div class='colorHeader'>
							<span class='contactColorBlock' style="background-color:{{contactType.color}}"></span>
							<p>{{contactType.label}}</p>
						</div>
					{% endfor %}

				</div>
				<table class="table table-hover table-striped" id='tableContact'>
					<thead>
						<tr>
							<th scope="col">Type</th>
							<th scope="col">Nom</th>
							<th scope="col">Téléphone</th>
							<th scope="col">Email</th>
							<th scope="col">Status</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="table-responsive tab-pane fade" id="collabo">
				<table class="table table-hover ">
					<thead>
						<tr>
							<th scope="col">Type</th>
							<th scope="col">Column heading</th>
							<th scope="col">Column heading</th>
							<th scope="col">Column heading</th>
						</tr>
					</thead>
					<tbody>
					</tbody>
				</table>
			</div>
			<div class="tab-pane fade" id="addNewContact">
				<legend >Nouveau contact</legend>
				<form action="{{ path('contact-create') }}" method="post">
					<fieldset class="form-group">
						<div class="form-check">
							<label class="form-check-label">
								<input type="radio" class="form-check-input" name="isCompany" id="company" value="company">
								Société
							</label>
							<label class="form-check-label  ms-5" >
								<input type="radio" class="form-check-input" name="isCompany" id="person" value="person">
								Particulier
							</label>
						</div>
						<div class="form-group">
							<label for="name" class="form-label mt-2">Nom</label>
							<input type="text" class="form-control" id="name" name="name">
						</div>
							<div class='input-group'>
							<div class="form-group">
								<label for="phone1" class="form-label mt-2">Numéro fixe</label>
								<input type="tel" class="form-control" id="phone1" name="phone1">
							</div>
							<div class="form-group">
								<label for="phone2" class="form-label mt-2">Numéro mobile</label>
								<input type="tel" class="form-control" id="phone2" name="phone2">
							</div>
						</div>
						<div class="form-group">
							<label for="email" class="form-label mt-2">Email</label>
							<input type="email" class="form-control" id="email" name="email">
						</div>
						<div class="form-group">
							<legend class="sm">Types</legend>
							{% for contactType in contactTypes %}
								<input class="form-check-input" type="checkbox" value="" id="checkbox-{{ contactType.id }}" name="checkbox-{{ contactType.id }}" style="background-color:{{ contactType.color }}75">
								<label class="form-check-label" for="checkbox-{{ contactType.id }}">
									{{ contactType.label }}
								</label>
							{% endfor %}
						</div>
						<div id="extrafieldsContainerCompany">
						</div>
						<div id="extrafieldsContainerPerson">
						</div>
					</fieldset>
					<div class="input-group mt-3">
							<select class="form-select" id="extrafieldsCompany">
								{% for extrafield in extrafields %}
									{% if extrafield.forCompany == 1 %}
										<option dataType="{{extrafield.inputType}}" dataId="{{extrafield.id}}">{{ extrafield.label }}</option>
									{% endif %}
								{% endfor %}
							</select>
							<button class="btn btn-info" type="button" id="extrafieldsCompanyButton">Ajouter</button>
						</div>
						<div class="input-group">
							<select class="form-select" id="extrafieldsPerson">
								{% for extrafield in extrafields %}
									{% if extrafield.forCompany == 0 %}
										<option data-type="{{extrafield.inputType}}">{{ extrafield.label }}</option>
									{% endif %}
								{% endfor %}
							</select>
							<button class="btn btn-info" type="button" id="extrafieldsPersonButton">Ajouter</button>
						</div>
					<button class="btn btn-primary mt-4" type="submit">Créer le contact</button>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
{% block style %}
	{{parent()}}
	<link href="{{asset('assets/css/contact.css')}}" rel="stylesheet" type="text/css">
	<link href='https://use.fontawesome.com/releases/v5.0.6/css/all.css' rel='stylesheet'>
{% endblock %}
{% block script_body %}
	{{parent()}}
	<script src="{{asset('assets/js/contact.js')}}"></script>
{% endblock %}
