{% extends 'layouts/loggedIn.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block nav %}
    {{parent()}}
{% endblock %}
{% block content %}
<div class="content">
    <h1>Dashboard</h1>
    {% if error %}
        <div>{{ error }}</div>
    {% endif %}
    <div id="fullBlock">
        <div id="blockInfo">
            <div id="blockEvent">
                <h2>évenements</h2>
                <div class="dashBlockHeader">
                    <div class="dashBlock">
                    {% if planning is not null %}
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                <th scope="col"></th>
                                <th scope="col"></th>
                                <th scope="col">Label</th>
                                <th scope="col">Date début</th>
                                <th scope="col">Date fin</th>
                                <th scope="col">Type</th>
                                </tr>
                            </thead>
                        <tbody>
                            {% set todayDate = "now"|date("d") %}
                            {% set todayHour = "now"|date("H") %}
                            {% set today = 0 %}
                            {% set tommorow = 0 %}
                            {% set later = 0 %}

                            {% for event in planning.events|sort((a, b) => a.dateEnd <=> b.dateEnd) %}
                                {% set eventDay = event.dateEnd|date("d") %}
                                {% set eventHour = event.dateEnd|date("H") %}
                                {% if eventDay == todayDate %}
                                    {% if today == 0 %}
                                        
                                        <tr ><td colspan="6" class="tableDay"><h3 >Aujourd'hui :</h3></td></tr>
                                        {% set today = 1 %}
                                    {% endif %}
                                    {% if todayHour + 1 == eventHour %}
                                        <tr class="table-danger">
                                    {% else %}
                                        <tr class="table-active">
                                    {% endif %}
                                {% endif %}
                                {% if eventDay == todayDate + 1 and tommorow == 0 %}
                                    <tr ><td colspan="6" class="tableDay"><h3 >Demain :</h3></td></tr>
                                    {% set tommorow = 1 %}
                                {% else %}
                                    {% if eventDay == todayDate + 1 %}
                                        <tr class="">
                                    {% endif %}
                                {% endif %}
                                {% if eventDay > todayDate + 1 and later == 0 %}
                                    <tr><td colspan="6" class="tableDay"><h3 >Plus tard :</h3></td></tr>
                                    {% set later = 1 %}
                                {% else %}
                                    {% if eventDay > todayDate + 1 %}
                                        <tr class="">
                                    {% endif %}
                                {% endif %}
                                
                                <td>{{ event.isImportant }}</td>
                                <td>{{ event.isImportant }}</td>
                                <td>{{ event.label }}</td>
                                <td>{% if later == 0 %} 
                                        {{ event.dateStart|date("H:i") }}
                                    {% else %}
                                        {{ event.dateStart|date("d/m H:i") }}
                                    {% endif %} 
                                </td>
                                <td>{% if later == 0 %} 
                                        {{ event.dateEnd|date("H:i") }}
                                    {% else %}
                                        {{ event.dateEnd|date("d/m H:i") }}
                                    {% endif %} 
                                </td>
                                <td style="color:{{ event.eventType.color }}">{{ event.eventType.label }}</td></tr>
                            {% endfor %}
                        {% else %}
                            <p>Vide :(</p>
                        {% endif %}
                        </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div id="blockContact">
                <h2>contacts</h2>
                <div class="dashBlockHeader">
                    <div class="dashBlockHeaderChild">
                        {% for contactType in contactTypes %}
                            <div><span class='contactColorBlock' style="background-color:{{contactType.color}}"></span><p>{{contactType.label}}</p></div>
                        {% endfor %}
                    </div>
                    <div class="dashBlock">
                        {% for contact in contacts %}
                            <div class="contactLine" id='{{ contact.id}}'>
                                <div class='contactColorBlock'>
                                    {% set colorCount = 1 %}
                                    {% for type in contact.contactType %}
                                        <div class="color{{ colorCount }}" style="background-color:{{type.color}}"></div>
                                        {% set colorCount = colorCount + 1 %}
                                    {% endfor %}
                                </div>
                                <p>{{ contact.name }}</p> <p>{{contact.phone1 ?? contact.phone2 ?? "/"}}</p> <p>{{contact.email ?? "/"}}</p> <p>{{contact.isCompany ? "Société" : "Particulier"}}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div id="blockPlanning">
            <h2>plannings</h2>
            <div class="dashBlock">
                {% for team in user.ownedteams %}
                <div class='teamBlock'>
                    <h3>{{ team.label }}</h3>
                    {% for user in team.users %}
                        <div style="border-color:{{ team.color }}"> <p>{{ user.firstname}}</p> <p>{{ user.lastName}}</p></div>
                    {% endfor %}
                </div>
                {% endfor %}
                {% if user.plannings|length > 0 %}
                    <div class='invitedBlock'>
                    <h3>Invité</h3>
                        {% for planning in user.plannings %}
                            <div> <p>{{ planning.planningowner.firstname}}</p> <p>{{ planning.planningowner.lastName}}</p></div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Vide :(</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block style %}
    {{parent()}}
    <link href="{{asset('assets/css/dashboard.css')}}" rel="stylesheet" type="text/css">
{% endblock %}

{% block script_body %}
    {{parent()}}
    <script src="{{asset('assets/js/dashboard.js')}}"></script>
{% endblock %}
