{% extends 'layouts/loggedin.html.twig' %}

{% block title %}Dashboard{% endblock %}
{% block nav %}
    {{parent()}}
{% endblock %}
{% block content %}
<div class="content">
{% if is_granted('ROLE_ADMIN') %}
    HELLO ADMIN
{% endif %}
    <h1>DASHBOARD</h1>
    {% if error %}
        <div>{{ error }}</div>
    {% endif %}
    <div id="blockEvent">
    {% for event in planning.events|sort((a, b) => a.dateEnd <=> b.dateEnd) %}
        <p> <span style='color:{{ event.eventType.color }}'>{{ event.eventType.label }}</span> {{ event.label }} {{ event.dateStart|date("h:i") }} {{ event.dateEnd|date("h:i") }} <p>
    {% endfor %}
    </div>
    <div id="blockContact"></div>
</div>
{% endblock %}

{% block style %}
    {{parent()}}

{% endblock %}

{% block script_body %}
    {{parent()}}
{% endblock %}
